.select:hover {
	border-color:#28a745 !important;				
	-webkit-box-shadow: 0px 0px 0px 0.2rem rgba(40, 167, 69, 0.25);
	-moz-box-shadow:    0px 0px 0px 0.2rem rgba(40, 167, 69, 0.25);
	box-shadow:         0px 0px 0px 0.2rem rgba(40, 167, 69, 0.25);
}

.backspace {
	line-height:36px;
	font-size:42px;
}

.backspace a:hover{
	text-decoration: none;
}

.help {
	line-height:18px;
	font-size:18px;
	cursor: pointer;
}

.help a:hover{
	text-decoration: none;
}

.payment {
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 1);
}

.payment i{
	line-height:28px;
	font-size:24px;
}

.popover-body {
	padding: 0px !important;
}

/********************* Masking ******************/ 
.shell {
  position: relative;
  line-height: 1;
}
.shell span {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #868e96;
  pointer-events: none;
}
.shell span	i { /* any of these 3 will work */
  color: transparent;
  opacity: 0;
}
input.masked,
.shell span {
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase;
}