/* Cubic Bezier Transition */

.visa {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/1.png');
}
.visa a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/1.png');
}
.visa a:hover, a:active {
	background-image: url('../..//assets/global/img/payments/active/1.png');
}
.mastercard {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/2.png');
}
.mastercard a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/2.png');
}
.mastercard a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/2.png');
}
.maestro {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/3.png');
}
.maestro a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/3.png');
}
.maestro a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/3.png');
}
.cirrus {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/4.png');
}
.cirrus a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/4.png');
}
.cirrus a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/4.png');
}
.paypal {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/5.png');
}
.paypal a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/5.png');
}
.paypal a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/5.png');
}
.westernunion {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/6.png');
}
.westernunion a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/6.png');
}
.westernunion a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/6.png');
}
.visaelectron {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/7.png');
}
.visaelectron a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/7.png');
}
.visaelectron a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/7.png');
}
.dinnersclub {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/10.png');
}
.dinnersclub a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/10.png');
}
.dinnersclub a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/10.png');
}
.googlewallet {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/11.png');
}
.googlewallet a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/11.png');
}
.googlewallet a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/11.png');
}
.skrill {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/12.png');
}
.skrill a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/12.png');
}
.skrill a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/12.png');
}
.discover {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/14.png');
}
.discover a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/14.png');
}
.discover a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/14.png');
}
.jcb {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/16.png');
}
.jcb a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/16.png');
}
.jcb a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/16.png');
}
.solo {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/19.png');
}
.solo a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/19.png');
}
.solo a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/19.png');
}
.directdebit {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/21.png');
}
.directdebit a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/21.png');
}
.directdebit a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/21.png');
}
.americanexpress {
	margin-right:4px;margin-bottom:4px;float:left;
	height: 38px;
	width: 60px;
	background-image: url('../..//assets/global/img/payments/inactive/22.png');
}
.americanexpress a {
	height: 38px;
	width: 60px;
	display: inline-block;
	background-image: url('../..//assets/global/img/payments/inactive/22.png');
}
.americanexpress a:hover, a :active {
	background-image: url('../..//assets/global/img/payments/active/22.png');
}
		
.redirectpayment {
  min-height: 100vh; }
  .redirectpayment .bs-reset {
    margin: 0;
    padding: 0; }
  .redirectpayment .text-right {
    text-align: right; }
  .redirectpayment .merchant {
    background-color: #286091; 
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
	padding-top: 50%;
	}
  .redirectpayment .invoice > table th {
	font-size:13px;
	padding:5px;
	font-weight: 600;
  }
  .redirectpayment .invoice > table td {
	font-size:13px;
	padding:5px;
	vertical-align: middle;vertical-align: middle;vertical-align: middle;
  }
  .redirectpayment .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em; }
    .redirectpayment .login-logo.login-6 {
      top: 80px;
      left: 80px; }
  .redirectpayment .login-container {
    position: relative;
    min-height: 100vh; }
    .redirectpayment .login-container > .login-content,
    .redirectpayment .login-container .login-social,
    .redirectpayment .login-container .login-copyright {
      padding: 0; }
    .redirectpayment .login-container > .login-content {
       }
      .redirectpayment .login-container > .login-content > h1 {
        font-size: 30px;
        font-weight: 300;
        color: #4e5a64; }
      .redirectpayment .login-container > .login-content p {
        font-size: 13px; }
      .redirectpayment .login-container > .login-content > .login-form {
        margin-top: 80px;
        color: #a4aab2;
        font-size: 13px; }
        .redirectpayment .login-container > .login-content > .login-form input {
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid;
          border-color: #a0a9b4;
          color: #868e97;
          font-size: 14px;
          margin-bottom: 30px; }
          .redirectpayment .login-container > .login-content > .login-form input:focus {
            outline: 0; }
        .redirectpayment .login-container > .login-content > .login-form .forgot-password,
        .redirectpayment .login-container > .login-content > .login-form .login-button {
          display: inline-block; }
        .redirectpayment .login-container > .login-content > .login-form .rem-password {
          margin-top: 10px; }
          .redirectpayment .login-container > .login-content > .login-form .rem-password > p {
            margin: 0; }
          .redirectpayment .login-container > .login-content > .login-form .rem-password > .rem-checkbox {
            border-color: #a4aab2; }
        .redirectpayment .login-container > .login-content > .login-form .forgot-password {
          margin-right: 1em; }
          .redirectpayment .login-container > .login-content > .login-form .forgot-password > a {
            color: #a4aab2; }
            .redirectpayment .login-container > .login-content > .login-form .forgot-password > a:hover {
              color: #337ab7;
              text-decoration: none; }
            .redirectpayment .login-container > .login-content > .login-form .forgot-password > a:focus {
              color: #a4aab2;
              text-decoration: none; }
    .redirectpayment .login-container > .login-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px; }
      .redirectpayment .login-container > .login-footer .login-social {
        padding-right: 0; }
        .redirectpayment .login-container > .login-footer .login-social li {
          display: inline-block;
          list-style: none;
          margin-right: 1em; }
        .redirectpayment .login-container > .login-footer .login-social a {
          color: #a9b5be;
          font-size: 18px; }
          .redirectpayment .login-container > .login-footer .login-social a:hover {
            color: #337ab7;
            text-decoration: none; }
          .redirectpayment .login-container > .login-footer .login-social a:focus {
            color: #a9b5be; }
      .redirectpayment .login-container > .login-footer .login-copyright {
        padding-left: 0;
        margin-top: 6px; }
        .redirectpayment .login-container > .login-footer .login-copyright > p {
          margin: 0;
          font-size: 13px;
          color: #a9b5be; }
  .redirectpayment .alert {
    margin-top: -60px; }
  .redirectpayment .form-group.has-error {
    border-bottom: 2px solid #ed6b75 !important; }
  .redirectpayment .form-group.valid {
    border-bottom: 1px solid #a0a9b4 !important; }

@media (max-width: 1365px) {
  .redirectpayment .login-logo.login-6 {
    top: 40px;
    left: 40px; }
  .redirectpayment .login-container > .login-content,
  .redirectpayment .login-container .login-social,
  .redirectpayment .login-container .login-copyright {
    padding: 0 40px; }
  .redirectpayment .login-container .login-social {
    padding-right: 0; }
  .redirectpayment .login-container .login-copyright {
    padding-left: 0; } }

@media (max-width: 1023px) {
  .redirectpayment {
    min-height: 50vh; }
    .redirectpayment .login-bg {
      min-height: 50vh; }
    .redirectpayment .login-logo.login-6 {
      position: relative;
      margin: 0 0 40px 0; }
    .redirectpayment .login-container {
      min-height: 50vh; }
      .redirectpayment .login-container > .login-content {
        margin-top: 60px; }
        .redirectpayment .login-container > .login-content .login-form {
          margin-top: 40px; }
      .redirectpayment .login-container .rem-password {
        margin-bottom: 1em; }
      .redirectpayment .login-container > .login-footer {
        position: relative; }
        .redirectpayment .login-container > .login-footer .login-social li {
          margin-right: 0.5em; }
    .redirectpayment .alert {
      margin-top: -20px; } }

@media (max-width: 640px) {
  .redirectpayment .login-container > .login-content .text-right {
    text-align: left; } }
